.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 3rem;
  margin-bottom: 13rem;
  padding-top: 3rem;
  scroll-behavior: smooth;
}

/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}

.awesome> :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;

  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

.awesome> :nth-child(2) {
  /* color: var(--orange); */
  color: rgb(113, 250, 15);
  font-size: 2.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(69, 65, 70), rgb(254, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.awesome> :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

/* right sided */
.cards {
  position: relative;
}

.cards>* {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }

  .cards>* {
    position: static;
  }
}